<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/trangchu}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/StyleCheckout.css">

</head>
<body>
	<div layout:fragment="content">
		<h3>Vui lòng nhập thông tin</h3>
		<form th:action="${ACTION}" method="post" th:object="${bills}"
			id="myModals1" style="padding: 20px;">
			<input type="hidden" th:field="*{bill_id}" name="bill_id">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" style="font-size: 14px;">Nhập
					họ và tên(*)</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						placeholder="Nhập họ và tên" th:field="*{bill_name}" required="required"
						style="width: 100%; padding: 20px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; font-size: 14px">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" style="font-size: 14px;">Nhập
					password(*)</label>
				<div class="col-sm-10">
					<input type="password" class="form-control"
						placeholder="Nhập password" th:field="*{bill_password}" required="required"
						style="width: 100%; padding: 20px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; font-size: 14px">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" style="font-size: 14px;">Nhập
					email(*)</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Nhập email" required="required"
						th:field="*{bill_email}"
						style="width: 100%; padding: 20px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; font-size: 14px">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" style="font-size: 14px;">Nhập
					SĐT(*)</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Nhập SĐT" required="required"
						th:field="*{bill_phone}"
						style="width: 100%; padding: 20px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; font-size: 14px">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" style="font-size: 14px;">Nhập
					địa chỉ(*)</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Nhập địa chỉ" required="required"
						th:field="*{bill_address}"
						style="width: 100%; padding: 20px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; font-size: 14px">
				</div>
			</div>
			<button type="submit" class="btn"
				style="width: 100%; background-color: #4CAF50; color: white; padding: 14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer; font-size: 14px">Đăng
				kí</button>
		</form>
	</div>

</body>
</html>