<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/trangchuwebsite}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/StyleGioiThieu.css">

</head>
<body>
	<main layout:fragment="content">
		<h2>Về chúng tôi</h2>
		
		<div class="gioithieu">
			<p>Trang giới thiệu giúp khách hàng hiểu rõ hơn về Trend Fashtion.</p>
			<p>Hãy cung cấp thông tin cụ thể về thông tin liên hệ.</p>
			 <p>Điều này sẽ giúp khách hàng cảm thấy tin tưởng khi mua hàng trên website của chúng tôi.</p>
							<p>Một vài gợi ý cho để khách hàng có thể lựa chọn:</p>
							<p>Tìm kiếm sản phẩm theo giá</p>
							<p>Tìm kiếm sản phẩm theo danh mục</p>
							<p>Địa chỉ cửa hàng</p>
							<p>Trang giới thiệu sẽ cho khách hàng biết chúng tôi là ai</p>
							<p>Trend Fashtion đã kinh doanh được 6 tháng</p>
							<p>Thông tin về sản phẩm</p>
							<p>Thông tin liên hệ</p>
							<p>Liên kết đến các trang mạng xã hội (Twitter, Facebook)</p>
							<p>Khách hàng có thể cập nhật hoặc xóa sản phẩm khỏi giỏ hàng</p>
		</div>
	</main>

</body>
</html>