<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/trangchu}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">
		<div class="list-giohang">
			<h2>Lịch sử mua hàng</h2>
			<div class="main-giohang">
				
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Id</th>
								<th>Sản phẩm</th>
								<th>Số lượng</th>
								<th>Giá bán</th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="item: ${LICHSUMUAHANG}">
								<td th:text="${item.billdetail_id}"></td>
								<td th:text="${item.sanphamvachitiet.sanphams.tensanpham}"></td>
								<td th:text="${item.billdetail_quantity}"></td>
								<td
									th:text="${#numbers.formatCurrency(item.billdetail_price)}"></td>
								
							</tr>
						</tbody>
					</table>
					


				
			</div>
		</div>
	</div>
</body>
</html>