<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/trangchu-admin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/StyleLienHe.css">

</head>
<body>
	<main layout:fragment="content">
		<h2>Liên hệ</h2>
		
		<ul class="list_lh">
			<li><a class="lh" href="#">Facebook</a></li>
			<li><a class="lh" href="#">Zalo</a></li>
			<li>SĐT: 0762546337</li>
		</ul>
	</main>

</body>
</html>