<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/trangchuwebsite}">
<head>
<meta charset="UTF-8">
<title>Thong tin co ban</title>
<link rel="stylesheet" type="text/css" href="/css/StyleThongtincoban.css">
</head>
<body>

	<main layout:fragment="content">
		<h3>THÔNG TIN TÀI KHOẢN</h3>
		<form th:action="@{/web/updateCheckout1}" method="put">
			<input type="hidden" th:value="${thongtin1.bill_id}"
				name="bill_id">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label"> Họ tên</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						placeholder="Nhập họ và tên"
						th:value="${thongtin1.bill_name}" required="required" name="bill_name">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label"> Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control"
						placeholder="Nhập password"
						th:value="${thongtin1.bill_password}" required="required" name="bill_password">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label"> Email</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Nhập email"
						required="required" th:value="${thongtin1.bill_email}" name="bill_email">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nhập SĐT</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Nhập SĐT"
						required="required" th:value="${thongtin1.bill_phone}" name="bill_phone">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nhập địa chỉ</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Nhập địa chỉ"
						required="required" th:value="${thongtin1.bill_address}" name="bill_address">
				</div>
			</div>
			<button type="submit" class="btn">Cập nhật</button>
		</form>
	</main>

</body>
</html>