<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/StyleTrangchu.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/trangchu.js}"></script>
<style>
.mySlides {
	display: none;
}
</style>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="container header__inner">
				<a href="#" class="header__text">Trend Fashion</a>
				<div class="header__icon">
					<ul class="header__icon-list">
						<li class="header__icon-item">
							<a href="#" class="header__icon-link"><i class="fas fa-search"></i></a>
						</li>
						<li class="header__icon-item dropdown">
							<a href="#" class="header__icon-link"><i class="fas fa-user-circle dropbtn"></i></a>
							<div th:unless="${session.EMAIL_WEB} or ${session.INFO}" class="dropdown-content">
								<div class="dropdown-content-li"><a class="dropdown-coontent-li-a" th:href="@{/web/login1}">Đăng nhập</a></div>
								<div class="dropdown-content-li"><a class="dropdown-coontent-li-a1" th:href="@{/web/checkout}">Tạo tài khoản</a></div>
								
							</div>
							<div th:if="${session.EMAIL_WEB}" class="dropdown-content2">
								<div class="dropdown-content-li2"><a th:href="@{/web/thongtincoban}" class="dropdown-content-li-a2" th:text="${session.EMAIL_WEB.bill_name}"></a></div>
								<div class="dropdown-content-li2"><a th:href="@{/web/lichsumuahang}" class="dropdown-content-li-a12">Lịch sử mua hàng</a></div>
							</div>
							<div th:if="${session.INFO}" class="dropdown-content3">
								<div class="dropdown-content-li3"><a th:href="@{/web/thongtincoban1}" class="dropdown-content-li-a3" th:text="${session.INFO.bill_name}"></a></div>
								<div class="dropdown-content-li3"><a href="#" class="dropdown-content-li-a13">Thông tin cơ bản</a></div>
							</div>
							
							
						</li>
						<li class="header__icon-item "><a href="#"
							class="header__icon-link"><i class="fas fa-shopping-cart"></i><span
								class="text-shopping-cart" th:text="${session.myCartNum}"></span></a>
						</li>
					</ul>
				</div>
				
				<!-- The Modal Login-->
			  <div class="modal" id="myModal">
			    <div class="modal-dialog">
			      <div class="modal-content">
			      
			        <!-- Modal Header -->
			        <div class="modal-header">
			          <h4>LOGIN</h4>
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			        </div>
			        <div id="model-body"></div>
			        <div class="modal-footer">
			          
			        </div>
				   </div>
				 </div>
			   </div>
			   
			   				<!-- The Modal Tao tai khoan-->
			  <div class="modal" id="myModal1">
			    <div class="modal-dialog">
			      <div class="modal-content">
			      
			        <!-- Modal Header -->
			        <div class="modal-header">
			          <h4>TAO TAI KHOAN</h4>
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			        </div>
			        <div id="model-body1"></div>
			        <div class="modal-footer">
			          
			        </div>
				   </div>
				 </div>
			   </div>
			</div>
			
						
		</header>
		
		<nav class="container menu__inner">
			<ul class="menu__inner-list">
				<li class="menu__inner-item">
					<a href="/web/" class="menu__inner-link">Trang chủ</a>
				</li>
				<li class="menu__inner-item dropdown1">
					<a href="/web/list" class="menu__inner-link dropbtn1">Sản phẩm</a>
					<div class="dropdown-content1">
						<a href="/web/noibatlist">Sản phẩm nổi bật</a>
						<a href="/web/moilist">Sản phẩm mới</a>
						<a href="/web/banchaylist">Sản phẩm bán chạy</a>
					</div>
				</li>
				<li class="menu__inner-item">
					<a href="/web/salelist" class="menu__inner-link">Sale</a>
				</li>
				<li class="menu__inner-item">
					<a href="#" class="menu__inner-link">Blog</a>
				</li>
				<li class="menu__inner-item">
					<a href="#" class="menu__inner-link">Giới thiệu</a>
				</li>
			</ul>
		</nav>
		
		<div layout:fragment="content">
			<div class="banner11">
				<div class="slideshow-container11">
				  <div class="mySlides11 fade11" th:each="slide : ${SLIDESSHOW}">
				    <img th:src="@{${slide.getSlidesImagePath()}}" style="width:100%">
				  </div>
				
				</div>
				<br>
				
				<div class="dot__list11" style="text-align:center">
				  <span class="dot11"></span> 
				  <span class="dot11"></span> 
				  <span class="dot11"></span> 
				</div>
			</div>
			
			<section class="selling_products">
				<div class="selling_products-title">
					<a href="#">Sản phẩm mới</a>
					
				</div>
			</section>
			
			<section class="category">
				<div class="container">
					<ul class="category__list">
						<li th:each="spm : ${SANPHAMMOI}" class="category__item">
							<a th:href="${'/web/sanpham-chitiet1/' + spm.sanphams.id}"><img class="category__image" th:src="@{${spm.sanphams.getLogoImagePath()}}"></a>
							<a href="#" th:text="${spm.sanphams.tensanpham}" class="category__name"></a>
							<span class="category__name-price" th:text="${#numbers.formatCurrency(spm.giatien)}"></span>
						</li>
						
					</ul>
				</div>
			</section>
			
			<section class="banner-category">
				<div class="container">
					<ul class="banner-category__list">
						<li class="banner-category__item">
							<a href="/web/chitiet/"><img class="banner-category__image" src="/img/b1.png"></a>
							<p class="banner-category__tails">Khuyến mãi tới 50%</p>
						</li>
						<li class="banner-category__item">
							<a href="#"><img class="banner-category__image" src="/img/b2.png"></a>
							<p class="banner-category__tails">Cùng bạn xuống phố</p>
						</li>
						<li class="banner-category__item">
							<a href="#"><img class="banner-category__image" src="/img/b3.png"></a>
							<p class="banner-category__tails">Thời trang công sở</p>
						</li>
					</ul>
				</div>
			</section>
	
			<section class="selling_products">
				<div class="selling_products-title">
					<a href="#">Sản phẩm bán chạy</a>
				</div>
			</section>
			
			<section class="category">
				<div class="container">
					<ul class="category__list">
						<li th:each="spm : ${SANPHAMNOIBAT}" class="category__item">
							<a href="#"><img class="category__image" th:src="@{${spm.sanphams.getLogoImagePath()}}"></a>
							<a href="#" th:text="${spm.sanphams.tensanpham}" class="category__name"></a>
							<span class="category__name-price" th:text="${#numbers.formatCurrency(spm.giatien)}"></span>
						</li>
						
					</ul>
				</div>
			</section>
			
			<section class="feature">
				<div class="container">
					<div class="feature__item">
						<div class="feature__image">
							<img class="feature__img" src="/img/b4.png">
							<p>Về chúng tôi</p>
						</div>
						<div class="feature__info">
							<p>Trang giới thiệu giúp khách hàng hiểu rõ hơn về Trend Fashtion. Hãy cung cấp thông tin cụ thể về thông tin liên hệ. Điều này sẽ giúp khách hàng cảm thấy tin tưởng khi mua hàng trên website của chúng tôi.</p>
							<p>Một vài gợi ý cho để khách hàng có thể lựa chọn:</p>
							<p>Tìm kiếm sản phẩm theo giá</p>
							<p>Tìm kiếm sản phẩm theo danh mục</p>
							<p>Địa chỉ cửa hàng</p>
							<p>Trang giới thiệu sẽ cho khách hàng biết chúng tôi là ai</p>
							<p>Trend Fashtion đã kinh doanh được 6 tháng</p>
							<p>Thông tin về sản phẩm</p>
							<p>Thông tin liên hệ</p>
							<p>Liên kết đến các trang mạng xã hội (Twitter, Facebook)</p>
							<p>Khách hàng có thể cập nhật hoặc xóa sản phẩm khỏi giỏ hàng</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<footer class="footer">
			<div class="footer__top">
				<div class="container footer__container">
					<div class="footer__item">
						<h4>Giới thiệu</h4>
						<p>Trang mua sắm trực tuyến của thương hiệu thời trang Trend Fashion, thời trang nam, nữ, phụ kiện, giúp bạn tiếp cận xu hướng thời trang mới nhất.</p>
					</div>
					<div class="footer__item">
						<h4>Liên kết</h4>
						<a href="#">Tìm kiếm</a><br>
						<a href="#">Giớ thiệu</a><br>
						<a href="#">Chính sách đổi trả</a><br>
						<a href="#">Chính sách bảo mật</a><br>
						<a href="#">Điều khoản dịch vụ</a><br>
						<a href="#">Liên hệ</a>
					</div>
					<div class="footer__item">
						<h4>Thông tin liên hệ</h4>
						<p><i class="fas fa-map-marker-alt"></i>Số 18, đường Võ Văn Tần, quận Thanh Khê, Tp. Đà Nẵng.</p>
						<p><i class="fas fa-phone-alt"></i> 1900-1080</p>
					</div>
					
				</div>
			</div>
			<div class="footer__bottom">
				<p>Copyright © 2020 Trend Fashion</p>
			</div>
		</footer>
	</div>
<script type="text/javascript">
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides11");
  var dots = document.getElementsByClassName("dot11");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

function bigImg(x){
	x.style.height = "500px";
	x.style.width = "600px";
}

function normalImg(x){
	x.style.height = "462px";
	x.style.width = "522px";
}
</script>
</body>
</html>