<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/Style-trangchu-admin.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<title>ADMIN</title>
</head>
<body>
	<aside class="side-nav" id="show-side-navigation1">
		<i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
		<div class="heading">
			<img src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance" alt=""/>
			<div class="info">
				<h3><a href="#" sec:authentication="name">Username</a></h3>
				<p>Lorem ipsum dolor sit amet consectetur.</p>
			</div>
		</div>
		<div class="search">
			<input type="text" placeholder="Type here"><i class="fa fa-search"></i>
		</div>
		<ul class="categories">
			<li>
				<i class="fa fa-home fa-fw" aria-hidden="true"></i>
				<a href="#"> Quản trị hệ thống</a>
				<ul class="side-nav-dropdown">
					<li><a href="/nguoidung/list">Người dùng</a></li>
					<li><a href="/chucnang/list">Chức năng</a></li>
					<li><a href="/vaitro/list">Vai trò</a></li>
					<li><a href="/nhom/list">Nhóm</a></li>
				</ul>
			</li>
			
			<li>
				<i class="fa fa-support fa-fw" aria-hidden="true"></i>
				<a href="#"> Quản lý website</a>
				<ul class="side-nav-dropdown">
					<li><a href="/sanpham/list">Sản phẩm</a></li>
					<li><a href="/loaisanpham/list">Loại sản phẩm</a></li>
				</ul>
			</li>
			
			<li>
				<i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
				<a href="#"> Quản lý khách hàng</a>
				<ul class="side-nav-dropdown">
					<li><a href="/nguoimuahang/list">Người mua</a></li>
					<li><a href="/sanphamdamua/listMuaThanhCong">Sản phẩm đã mua</a></li>
				</ul>
			</li>
			
			<li>
				<i class="fa fa-users fa-fw" aria-hidden="true"></i>
				<a href="#"> Quản lý kho</a>
				<ul class="side-nav-dropdown">
					<li><a href="/sanphamdamua/listKho">Đã mua chưa xuất kho</a></li>
				</ul>
			</li>
			
			<li>
				<i class="fa fa-bolt fa-fw" aria-hidden="true"></i>
				<a href="#"> Quản lý đơn hàng</a>
				<ul class="side-nav-dropdown">
					<li><a href="/sanphamdamua/list">Đơn hàng</a></li>
				</ul>
			</li>
			
			<li>
				<i class="fa fa-wrench fa-fw"></i>
				<a href="#"> Thống kê</a>
				<ul class="side-nav-dropdown">
					<li><a th:href="@{/thongke/thongkenguoidangki}">Người đăng kí</a></li>
					<li><a th:href="@{/thongke/thongkesoluongsanpham}">Sản phẩm</a></li>
					<li><a th:href="@{/thongke/thongkesoluongdonhang}">Đơn hàng</a></li>
					<li><a th:href="@{/thongke/thongkedoanhthutungngay}">Doanh thu</a></li>
				</ul>
			</li>
			
			<li>
				<a th:href="@{/logout}"> Logout</a>
			</li>
		</ul>
	</aside>
	
	<section id="contents">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			
				<div class="navbar-header">
					<button type="button" 
							class="navbar-toggle collapsed" 
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1"
							aria-expanded="false">
						<i class="fa fa-align-right"></i>
					</button>
					<a class="navbar-brand" th:href="@{/admin}">my<span class="main-color">Dasboard</span></a>
				</div>
				
				<div class="collapse navbar-collapse navbar-right" 
					 id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">
								<i data-show="show-side-navigation1"
									class="fa fa-bars show-side-btn"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	
		<section layout:fragment="content">
			<section class="statistics">
				<div class="container-fluid">
					<div class="row">
	
						<div class="col-md-3">
							<div class="box">
								<i class="fa fa-envelope fa-fw bg-primary"></i>
								<div class="info">
									
										<h3 th:text="${countNguoiDangKi}"></h3>
										<p>Người đăng kí mới</p>
									
								</div>
							</div>
						</div>
	
						<div class="col-md-3">
							<div class="box">
								<i class="fa fa-file fa-fw danger"></i>
								<div class="info">
									<h3 th:text="${countSanPhamBanRa}"></h3>
									<p>Sản phẩm bán ra</p>
								</div>
							</div>
						</div>
	
						<div class="col-md-3">
							<div class="box">
								<i class="fa fa-users fa-fw success"></i>
								<div class="info">
									<h3 th:text="${countSoLuongDonHang}"></h3>
									<p>Đơn hàng</p>
								</div>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="box">
								<i class="fa fa-users fa-fw success"></i>
								<div class="info">
									<h3 th:text="${#numbers.formatCurrency(countTongDoanhThu)}"></h3>
									<p>Doanh thu</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	
			<div class="inner-block">
				<div class="chit-chat-layer1">
	
					<div class="col-md-6 chit-chat-layer1-rit">
						<div class="glocy-chart">
							<div class="span-2c">
	
								<canvas id="bar" height="600" width="800"
									style="width: 800px; height: 600px; text-align: center"></canvas>
								<script th:inline="javascript">
									var barChartData = {
										labels : [
	
										/*<![CDATA[*/
	
										/*[# th:each="item : ${listReceipt}"]*/
	
										/*[[${item.time}]]*/,
	
										/*[/]*/
	
										/*]]>*/
	
										],
										datasets : [ {
											fillColor : "#FC8213",
											data : [
	
											/*<![CDATA[*/
	
											/*[# th:each="item : ${listReceipt}"]*/
	
											/*[[${item.value}]]*/,
	
											/*[/]*/
	
											/*]]>*/
	
											]
										} ]
	
									};
									new Chart(
											document.getElementById("bar")
													.getContext("2d"),
											{
	
												options : {
													title : {
														display : true,
														text : 'Thống kê doanh thu năm'
													},
													legend : {
														display : true
													}
												},
												type : "bar",
												data : barChartData
	
											});
								</script>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
	
			</div>
		</section>
		
		
	</section>
	<script src='http://code.jquery.com/jquery-latest.js'></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/trang-chu-admin.js}"></script>
</body>
</html>