body {
  background-color: #b3bab5;
}

h4 {
	color: black;
	font-size: 18px;
	font-weight: 600;
}


.table-bordered {
  margin-top: 10px;
  font-family: arial, sans-serif !important;
  border-collapse: collapse !important;
  width: 100% !important;
  height: 300px !important;
}

td, th {
  border: 1px solid #dddddd !important;
  text-align: left !important;
  padding: 8px !important;
  font-size: 14px !important;
  font-weight: 600px !important;
}


.btn-primary {
	font-size: 15px !important;
	font-weight: 600;
}


.showin {
	text-align: center;
	color: black;
	font-size: 12px;
}

.showcount {
	color: black;
	font-size: 12px;
}
.pagination {
	 font-size: 16px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

#bnn, .buttonDelete{
	margin-bottom: 10px;
	margin-left: 5px;
}
#dataSearch {
	float: right;
    width: 40%;
    margin: 0 auto;

}

#dataSearch label {
	font-size: 16px;
	color: black;
}

.main__menu-search-form-input, .main__menu-search-form-button {
  padding: 0;
}
.main__menu-search-form-input1 {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Poppins";
  flex-grow: 1;
  width: 90%;
  padding-right: 0.5rem;
  color: white;
}
.main__menu-search-form-button1 {
  float: right;
  width: 10%;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Poppins";
  color: white;
}

.capnhat {
	margin-left: 200px;
}

.hide{
    display : none;
}

.show{
    display : inline;
}

.text_capnhat {
	font-size: 16px;
	color: black;
}

.select_kho {
	width: 250px !important;
	height: 30px !important;
	font-size: 14px;
}

.button_update {
	position: relative;
	    margin-left: 398px;
    margin-top: -70px;
    z-index: 1000;
}