body {
  background-color: #b3bab5;
}

h4 {
	color: black;
	font-size: 18px;
	font-weight: 600;
}

form {
	padding-top: 20px;
}

#btn, .buttonDelete{
	margin-bottom: 10px;
	margin-left: 5px;
}

#dataSearch {
	float: right;
	background-color: #838b8a;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}

.col-form-label {
	font-size: 14px !important;
	font-weight: 600 !important;
	color: black !important;
}

.pagination {
	 font-size: 16px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

.form-control {
	height: 30px !important;
	font-size: 14px !important;
}
.form-group img {
	width: 100px;
	height: 130px;
	display: block;
	border: 1px solid red;
	margin-left: 300px;
	margin-bottom: 5px;
	max-width: 100%;
}

.button-all {
	text-align: center;
}

.form-check-label {
	color: black;
	font-size: 12px;
	font-weight: 400;
}