html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

a {
  text-decoration: none !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  color: red !important;
  line-height: 1.4 !important;
  font-weight: 400 !important;
}

.wrapper {
  max-width: 1440px !important;
  margin: 0 auto !important;
  max-height: 750px !important;
}

.header {
  margin-top: 5px !important;
  width: 100% !important;
}
.header__left {
  width: 15% !important;
  height: 60px !important;
  background-color: #367fa9 !important;
  float: left !important;
  text-align: center !important;
  padding-top: 12.5px !important;
}
.header__right {
  width: 85% !important;
  height: 60px !important;
  background-color: #3c8dbc !important;
  float: left !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
}
.header__right-box {
  float: right !important;
  display: flex !important;
}
.header__right-box-image {
  font-size: 30px !important;
  font-weight: 400 !important;
  padding-right: 10px !important;
}

.fa-user-circle {
  background-color: black !important;
  color: white !important;
  border-radius: 50% !important;
}

.header__right-box-name {
  font-size: 14px !important;
  font-weight: 400 !important;
  padding-top: 8px !important;
}

.header__right-box-name-text {
  color: white;
}

.logo {
  font-size: 2.5rem !important;
  font-weight: 600 !important;
  align-items: center !important;
  color: white !important;
}

.main {
  width: 100% !important;
  /* height: 660px !important; */
  display: flex;
}
.main__menu {
  width: 15% !important;
  min-height: 660px;
  background-color: yellow !important;
  float: left !important;
}
.main__menu-search {
  height: 15% !important;
  width: 100% !important;
  background-color: #222d32 !important;
  padding-top: 20px !important;
}
.main__menu-search-form {
  background-color: #f2f1f6 !important;
  width: 90% !important;
  margin: 0 auto !important;
  padding: 10px !important;
}
.main__menu-search-form-input, .main__menu-search-form-button {
  padding: 0 !important;
}
.main__menu-search-form-input {
  border: 0 !important;
  outline: none !important;
  background-color: transparent !important;
  font-size: 1rem !important;
  font-family: "Poppins" !important;
  flex-grow: 1 !important;
  padding-right: 0.5rem !important;
}
.main__menu-search-form-button {
  background-color: transparent !important;
  border: 0 !important;
  outline: none !important;
  cursor: pointer !important;
  font-size: 1.1rem !important;
  font-family: "Poppins" !important;
}
.main__menu-navigation {
  background-color: #1a2226 !important;
  height: 5% !important;
  width: 100% !important;
  padding-left: 15px !important;
  padding-top: 10px !important;
}
.main__menu-navigation-text {
  color: #434b38 !important;
  font-size: 1rem !important;
  font-weight: 800 !important;
  font-family: "Poppins" !important;
}
.main__menu-function {
  background-color: #222d32 !important;
  height: 80% !important;
  width: 100% !important;
}
.main__menu-function-sidenav {
  height: 100% !important;
  width: 100% !important;
  z-index: 1 !important;
  top: 0 !important;
  left: 0 !important;
  overflow-x: hidden !important;
  padding-top: 20px !important;
}
.main__menu-function-sidenav a, .main__menu-function-dropdown-btn {
  padding: 6px 8px 6px 16px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #818181 !important;
  display: block !important;
  border: none !important;
  background: none;
  width: 100% !important;
  text-align: left !important;
  cursor: pointer !important;
  outline: none !important;
}
.main__menu-function-sidenav:hover, .main__menu-function-dropdown-btn {
  color: #f1f1f1 !important;
}
.main__content {
  width: 85% !important;
  min-height: 660px;
  background-color: #ecf0f5 !important;
  float: left !important;
}

.fa-caret-down {
  float: right !important;
  padding-right: 8px !important;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none ;
  background-color: #262626 ;
  padding-left: 8px ;
}

.clear {
  clear: both !important;
}

.footer {
  height: 30px !important;
  width: 100% !important;
  background: black !important;
}
.footer-text {
  text-align: center !important;
  padding-top: 5px !important;
  color: white !important;
  font-size: 10px !important;
  font-weight: 400 !important;
}

.container {
	margin: 20px auto;
	max-width: 1270px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.category__list {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

.category__item:first-child {
    background: #748cb3;
}
.category__item:nth-child(2) {
	background: #c7c461;
}
.category__item:nth-last-child(2) {
	background: #5ed158;
	}
.category__item:last-child {
	background: #d16658;

	}
.category__item {
	width: calc(25% - 22.5px);
	height: 100px;
	padding: 2.5rem;
	background-color: red;
	border-radius: 5px;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: nowrap;
	flex-direction: column;
}
/*# sourceMappingURL=style.css.map */
