h4 {
	padding-top: 30px;
	color: black;
	font-size: 18px;
	font-weight: 600;
}

form {
	padding-top: 20px;
}

.col-form-label {
	font-size: 14px !important;
	font-weight: 600 !important;
	color: black !important;
}

.form-control {
	height: 30px !important;
	font-size: 14px !important;
}
.form-group img {
	width: 100px;
	height: 130px;
	display: block;
	border: 1px solid red;
	margin-left: 300px;
	margin-bottom: 5px;
	max-width: 100%;
}

.button-all {
	text-align: center;
}
