<form action="/slides/doUpdate" enctype="multipart/form-data" method="post" id="formEdit">
  <input type="hidden" name="id" id="iUpdate" th:value="${sl.id}">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Mã slides(*)</label>
    <div class="col-sm-10">
    	<input type="text" class="form-control" name="maslides" id="mUpdate" th:value="${sl.maslides}">
    </div>
    
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tên slides(*)</label>
    <div class="col-sm-10">
    	<input type="text" class="form-control" name="tenslides" id="tUpdate" th:value="${sl.tenslides}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Hình ảnh(*)</label>
    <div class="col-sm-10">
    	<img id="thumbnails" alt="logo" th:src="${sl.getSlidesImagePath()}" />
    </div>
    
  </div>
  <div class="form-group" style="display: none;">
    <input type="file" name="fileImages" id="fileImages" th:value="${sl.images}">
  </div>
  
    
    
  </div>
  <input type="submit" id="toggler" class="btn btn-primary capnhat" value="Cập nhật" style="margin-left: 200px;">
  <script>
    $(() => {
      $('#formEdit #fileImages').change((evt) => {
        let file = evt.target.files[0];
        reader = new FileReader();
        reader.onload = function (e) {
          $('#formEdit #thumbnails').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
      }) 
      $('#formEdit #thumbnails').click(() => {
        $('#formEdit #fileImages').click();
      });
    })

  </script>
</form>