<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout}">
<head>
<meta charset="utf-8">
<title>Loại sản phẩm</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/StyleRegisterLoaisanpham.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<section class="main__content" layout:fragment="content">
		<div class="container">
			<h4>Thêm mới loại sản phẩm</h4>
			<hr>
			<form th:action="@{/loaisanpham/saveLoaisanpham}" th:object="${LOAISANPHAM}" method="post" id="myModals">
				<input type="hidden" th:field="*{id}">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Mã loại sản phẩm(*)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Enter mã loại sản phẩm" th:field="*{maloaisanpham}">
						<p th:if="${#fields.hasErrors('maloaisanpham')}" th:errors="*{maloaisanpham}" class="alert alert-danger"></p>
					</div>
					
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Tên loại sản phẩm(*)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Enter tên sản phẩm" th:field="*{tenloaisanpham}">
						<p th:if="${#fields.hasErrors('tenloaisanpham')}" th:errors="*{tenloaisanpham}" class="alert alert-danger"></p>
					</div>
					
				</div>
				<div class="button-all">
					<button type="submit" class="btn btn-primary btn-lg">Thêm mới</button>
					<a href="/loaisanpham/list" class="btn btn-primary btn-lg">Xem danh sách</a>
				</div>
				
			</form>
		</div>
	</section>
</body>
</html>