<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/StyleViewNhom.css">
<link rel="stylesheet" type="text/css" href="/css/StyleRegisterNhom.css"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" /> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/NhomNguoiDung-view.js}"></script>
</head>
<body>
		<section class="main__content" layout:fragment="content">
			<div class="container">
				<h4>Danh sách nhóm</h4>
				<hr>
				<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btn"><i class="fas fa-plus-circle"></i></button>
				<button class="btn btn-primary buttonDelete"><i class="fas fa-trash-alt"></i></button>
				
				  <!-- The Modal Add New-->
				  <div class="modal" id="myModal">
				    <div class="modal-dialog">
				      <div class="modal-content">
				      
				        <!-- Modal Header -->
				        <div class="modal-header">
				          <h4>Thêm mới nhóm</h4>
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        <div id="model-body"></div>
				        <div class="modal-footer">
				          
				        </div>
					   </div>
					 </div>
				   </div>
				   
				   <!-- Search  -->
					<form th:action="@{/nhom/dataSearch}" id="dataSearch">
						<input class="main__menu-search-form-input1" type="text" name="tennhomnguoidung" placeholder="Search...">
						<button type="submit" class="main__menu-search-form-button1" id="search">Search</button>
					</form>
					<th:block th:if="${#lists.isEmpty(NHOMS.pageList)}">
						<h2>Không có nhóm người dùng</h2>
					</th:block>
					
					
					<th:block th:unless="${#lists.isEmpty(NHOMS.pageList)}">
							<div class="sang">
							<form th:action="@{/nhom/delete}" id="formDelete">
								
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Id</th>
											<th>Mã nhóm người dùng</th>
											<th>Tên nhóm người dùng</th>
											<th>Select</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="nhom, iterStat: ${NHOMS.pageList}">
											<td th:text="${iterStat.count}"></td>
											<td th:text="${nhom.manhom}"></td>
											<td th:text="${nhom.tennhom}"></td>
											
											<td>
												<a class="btn btn-primary edit" th:href="@{/nhom/nhom-update/(id=${nhom.id})}" data-toggle="modal" data-target="#myEdit"><i class="fas fa-edit"></i></a>

										
													
													<a class="btn btn-primary chi" th:href="@{/nhom/nhom-chitiet/}" data-toggle="modal" data-target="#myChitiet" th:attrappend="data-target=${nhom.id}"><i class="fas fa-eye"></i></a>
													<input type="checkbox" name="ndd" th:value="${nhom.id}"/>
													
													<!-- The Modal Chi tiet -->
													 <div class="modal" id="myChitiet" th:attrappend="id=${nhom.id}">
													    <div class="modal-dialog">
													      <div class="modal-content chitiet">
													      
													        <!-- Modal Header -->
													        <div class="modal-header">
													          <h4>Chi tiet</h4>
													          <button type="button" class="close" data-dismiss="modal">&times;</button>
													        </div>
													        <div id="chitiet-body">
																<table class="table table-bordered">
																	<tr>
																		<th>Id</th>
																		<td th:text="${nhom.id}"></td>
																	</tr>
																	<tr>
																		<th>Mã nhóm</th>
																		<td th:text="${nhom.manhom}"></td>
																	</tr>
																	<tr>
																		<th>Tên nhóm</th>
																		<td th:text="${nhom.tennhom}"></td>
																	</tr>
																	<tr>
																		<th>Createday</th>
																		<td th:text="${nhom.createday}"></td>
																	</tr>
																	<tr>
																		<th>Người tạo</th>
																		<td th:text="${nhom.nguoitao}"></td>
																	</tr>
																	<tr>
																		<th>Updateday</th>
																		<td th:text="${nhom.updateday}"></td>
																	</tr>
																	<tr>
																		<th>Người Update</th>
																		<td th:text="${nhom.nguoiupdate}"></td>
																	</tr>
																	<tr>
																		<th>Chức năng</th>
																		<td>
																			<ul th:each="item : ${nhom.chucnang}">
																				<li th:text="${item.tenchucnang}"></li>
																			</ul>
																		</td>
																	</tr>																																																																																																																							
																	
																</table>
													        </div>
													        <div class="modal-footer">
													          
													        </div>
														  </div>
													   </div>
													</div>	
											</td>
										
										</tr>
									</tbody>
								</table>
								</form>
							</div>
							
							<p class="showcount" th:text="'Record: ' + ${sum}"></p>
							<p class="showin" th:text="'Show '+ ${pageNumber} + ' in ' + ${totalPageCount}"></p>
							
							<!-- phan trang -->
							<ul class="pagination">
								<li
									th:class="${currentIndex == 1} ? 'page-item disabled' : 'page-item'">
									<a class="page-link" th:href="@{/nhom/list}">First</a>
								</li>
								<li
									th:class="${currentIndex == 1} ? 'page-item disabled' : 'page-item'">
									<a class="page-link" aria-label="Previous"
									th:href="@{|/nhom${baseUrl}${currentIndex - 1}|}"
									title='Go to previous page'> <span aria-hidden="true"><<</span>
										<span class="sr-only">Previous</span></a>
								</li>
								<li th:each="item: ${#numbers.sequence(beginIndex, endIndex)}"
									th:class="${item == currentIndex ? 'page-item active' : 'page-item'}">
									<a class="page-link" th:href="@{|/nhom${baseUrl}${item}|}">
										<span th:text='${item}'>1</span>
								</a>
								</li>
								<li
									th:class="${currentIndex == totalPageCount} ? 'page-item disabled' : 'page-item'">
									<a class="page-link" aria-label="Next"
									th:href="@{|/nhom${baseUrl}${currentIndex + 1}|}"
									title='Go to next page'> <span aria-hidden="true">>></span> <span
										class="sr-only">Next</span></a>
								</li>
								<li
									th:class="${currentIndex == totalPageCount} ? 'page-item disabled' : 'page-item'">
									<a class="page-link"
									th:href="@{|/nhom${baseUrl}${totalPageCount}|}">Last</a>
								</li>
							</ul>
				
					</th:block>
					
					<!-- The Modal Delete -->
					<div class="modal" tabindex="-1" role="dialog" id="myDelete">
					    <div class="modal-dialog">
					      <div class="modal-content">
					      
					        <!-- Modal Header -->
					        <div class="modal-header">
					          
					          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          	<span aria-hidden="true">&times;</span>
					          </button>
					        </div>
					        <div id="delete-body">
					        		<h4>Bạn có muốn xóa không?</h4>
									
					 
					        </div>
					        <div class="modal-footer">
					          <button type="button" id="delRef" class="btn btn-primary ">Xác nhận</button>
					          <button type="button" class="btn btn-primary thoat" data-dismiss="modal">Thoát</button>
					        </div>
						  </div>
					   </div>
					</div>
					
					<!-- The Modal Edit -->
					 <div class="modal" id="myEdit">
					    <div class="modal-dialog">
					      <div class="modal-content">
					      
					        <!-- Modal Header -->
					        <div class="modal-header">
					          <h4>Edit nhóm</h4>
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					        </div>
					        <div id="edit-body">
					        	<form th:action="@{/nhom/doUpdate}" method="put" id="formEdit">
											<input type="hidden" name="id" id="idUpdate">
									 	<div class="form-group row">
									 		<label class="col-sm-2 col-form-label">Mã nhóm(*)</label>
									 		<div class="col-sm-10">
									 			<input type="text" class="form-control" name="manhom" id="mUpdate" >
									 		</div>
									 		
									 	</div>
										<div class="form-group row">
									 		<label class="col-sm-2 col-form-label">Tên nhóm(*)</label>
									 		<div class="col-sm-10">
									 			<input type="text" class="form-control" name="tennhom" id="tUpdate">
									 		</div>
									 		
									 	</div>
									 	<div class="form-group row">
									 		<label class="col-sm-2 col-form-label">Chức năng</label>
									 		<div class="col-sm-10">
									 				<table class="table table-bordered">
									 					<thead>
									 						<tr>
									 							<th>Select</th>
									 							<th>Tên chức năng</th>
									 						</tr>
									 					</thead>
									 					<tbody>
									 						<tr th:each="tcn: ${CHUCNANGS}">
									 							<td><input type="checkbox" class="n-update" name="chucnang" th:value="${tcn.id}"></td>
									 							<td th:text="${tcn.tenchucnang}"></td>
									 						</tr>
									 					</tbody>
									 				</table>
									 		</div>
									 	</div>
									 	
									<button type="submit" id="toggler" class="btn btn-primary capnhat" onClick="action()">Cập nhật</button>
								</form>
					        </div>
					        <div class="modal-footer">
					          
					        </div>
						  </div>
					   </div>
					</div>		
			</div>

		</section>

</body>
</html>