
<script type="text/javascript">
	$(document).ready(function() {
		$('#fileImage').change(function() {
			showImageThumbnail(this);
		});

	});
	function showImageThumbnail(fileInput) {
		file = fileInput.files[0];

		reader = new FileReader();

		reader.onload = function(e) {
			$('#thumbnail').attr('src', e.target.result);
		};

		reader.readAsDataURL(file);
	};
</script>

			<form th:action="@{/sanpham/doSave}" th:object="${SANPHAM}"
				method="post" enctype="multipart/form-data" id="myModals">
				<input th:field="*{id}" name="id" type="hidden">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Mã sản phẩm</label>
					<div class="col-sm-10">
						<input class="form-control" placeholder="Enter mã sản phẩm"
							th:field="*{masanpham}" name="masanpham" type="text" required="required">
						<p th:if="${#fields.hasErrors('masanpham')}"
							th:errors="*{masanpham}" class="alert alert-danger"></p>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Tên sản phẩm</label>
					<div class="col-sm-10">
						<input class="form-control" placeholder="Enter tên sản phẩm"
							th:field="*{tensanpham}" name="tensanpham" type="text" required="required">
						<p th:if="${#fields.hasErrors('tensanpham')}"
							th:errors="*{tensanpham}" class="alert alert-danger"></p>
					</div>

				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Hình ảnh</label>
					<div class="col-sm-10">
						<img id="thumbnail" alt="Logo"> <input type="file"
							name="fileImage" id="fileImage" accept="image/png, image/jpg">
					</div>


				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Loại sản phẩm</label>
					<div class="col-sm-10">
						<select class="form-control" th:field="*{loaisanpham}">
							<option th:each="loai : ${LOAISANPHAM}" th:value="${loai.id}"
								th:text="${loai.tenloaisanpham}"></option>
						</select>
					</div>

				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Xuất xứ</label>
					<div class="col-sm-10">
						<input class="form-control" placeholder="Enter xuất xứ"
							th:field="*{xuatxu}" name="xuatxu" type="text" required="required">
						<p th:if="${#fields.hasErrors('xuatxu')}" th:errors="*{xuatxu}"
							class="alert alert-danger"></p>
					</div>

				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Mô tả</label>
					<div class="col-sm-10">
						<textarea placeholder="Enter mô tả" th:field="*{mota}" name="mota"
							rows="10" cols="80" required="required"></textarea>
						<p th:if="${#fields.hasErrors('mota')}" th:errors="*{mota}"
							class="alert alert-danger"></p>
					</div>

				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Đặc điểm</label>
					<div class="col-sm-10">

						<!--value = 0 => Sản phẩm mới| 1 => Sản phẩm nổi bật| 2 => Sản phẩm Sale| 3 => Sản phẩm bán chạy -->
						<div class="form-check-inline">
							<input type="radio" class="form-check-input" name="highlight"
								th:field="*{highlight}" value="0" id="highlight1"
								checked="checked"> <label class="form-check-label">Sản
								phẩm mới</label>
						</div>

						<div class="form-check-inline">
							<input type="radio" class="form-check-input" name="highlight"
								th:field="*{highlight}" value="1" id="highlight2"> <label
								class="form-check-label">Sản phẩm nổi bật</label>
						</div>


						<div class="form-check-inline">
							<input type="radio" class="form-check-input" name="highlight"
								th:field="*{highlight}" value="2" id="highlight3"> <label
								class="form-check-label">Sản phẩm Sale</label>
						</div>

						<div class="form-check-inline">
							<input type="radio" class="form-check-input" name="highlight"
								th:field="*{highlight}" value="3" id="highlight4"> <label
								class="form-check-label">Sản phẩm bán chạy</label>
						</div>
					</div>

				</div>
				<div class="button-all">
					<button type="submit" class="btn btn-primary btn-lg">Thêm
						mới</button>
					<a class="btn btn-primary btn-lg" href="/sanpham/list">Xem danh
						sách</a>
				</div>


			</form>
