<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main-layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/StyleRegisterSlides.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#fileImage').change(function(){
			showImageThumbnail(this);
		});
		
	});
	function showImageThumbnail(fileInput){
		file = fileInput.files[0];
		
		reader = new FileReader();

		reader.onload = function(e){
			$('#thumbnail').attr('src', e.target.result);
		};
		
		reader.readAsDataURL(file);
	};
</script>
</head>
<body>
	<section class="main__content" layout:fragment="content">
		<div class="container">
			<h4>Thêm mới slides</h4>
			<hr>
			<form th:action="@{/slides/doSave}" th:object="${SLIDES}" method="post" enctype="multipart/form-data" id="myModals">
				<input th:field="*{id}" name="id" type="hidden">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Mã slides</label>
					<div class="col-sm-10">
						<input class="form-control" placeholder="Enter mã slides" th:field="*{maslides}" name="maslides" type="text">
						<p th:if="${#fields.hasErrors('maslides')}" th:errors="*{maslides}" class="alert alert-danger"></p>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Tên slides</label>
					<div class="col-sm-10">	
						<input class="form-control" placeholder="Enter tên slides" th:field="*{tenslides}" name="tenslides" type="text">
						<p th:if="${#fields.hasErrors('tenslides')}" th:errors="*{tenslides}" class="alert alert-danger"></p>
					</div>
					
				</div>
				
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Hình ảnh</label>
					<div class="col-sm-10">
						<img id="thumbnail" alt="Logo">
						<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpg">
					</div>
					
					
				</div>
	
				<div class="button-all">
					<button type="submit" class="btn btn-primary btn-lg">Thêm mới</button>
			 		<a class="btn btn-primary btn-lg" href="/slides/list">Xem danh sách</a>
				</div>
				
			 	
			</form>
		</div>
	</section>
</body>
</html>